@mixin boxx-input-validated {
    &.ion-invalid.ion-touched,
    &.ion-invalid.ion-dirty {
        color: var(--ion-color-danger) !important;
        --color: var(--ion-color-danger) !important;
    }
}

@mixin boxx-input {
    @include boxx-input-validated;

    margin-bottom: 20px;
    --padding-bottom: 0 !important;
    --padding-top: 0 !important;
    align-items: self-end !important;
    font-size: 14px !important;
    font-weight: 600;
    color: var(--ion-color-dark) !important;

    ion-icon {
        margin-top: 0px;
        margin-bottom: 0px;
        margin-right: 16px;
        width: 16px;
        height: 16px;
    }
}

ion-header {
    margin-bottom: -1px;

    &.header-md::after {
        background-image: none; // for android
    }
}

ion-toolbar {
    --border-color: transparent; //for ios
    --min-height: 70px;
    --background: var(--ion-color-primary);
    --border-width: 0;
    --padding-top: 24px;
    --padding-bottom: 0px;

    --background: var(--ion-color-primary);
    color: var(--ion-color-primary-contrast);

    ion-title {
        font-size: 17px;
        font-weight: 600;
        padding-left: 32px;
        padding-right: 0px;
        padding-top: 4px; // total = 16
        text-align: left;
        &.ios {
            position: relative;
            margin-left: 26px !important; //total = 32
            padding-left: 0;
        }
    }

    ion-buttons {
        ion-icon,
        ion-button,
        ion-menu-button,
        ion-back-button {
            color: var(--ion-color-primary-contrast);
        }

        &[slot="start"] {
            margin-left: 10px; //total = 24
            margin-right: -32px; // total = 16
            margin-bottom: -4px;
            &.ios {
                margin-left: 12px; //total = 24
                margin-right: -22px;
            }
        }

        &[slot="end"] {
            margin-right: 17px;
            &.ios {
                margin-right: 19px;
            }
        }

        ion-back-button.ios {
            margin-left: 10px;
            margin-right: 12px;
            width: 16px;
            height: 16px;
        }
    }
}

ion-content {
    --background: var(--boxx-app-background);
}

ion-list {
    padding-top: 0 !important;
    padding-bottom: 0 !important;

    &.boxx-input-list ion-input {
        @include boxx-input;
    }
}

ion-list-header {
    min-height: unset;
    background: var(--boxx-app-background);
    color: var(--ion-color-dark);
    font-weight: 700;
    align-items: center;
    padding-left: 24px;
    font-size: 17px;

    ion-label,
    ion-icon {
        margin-top: 24px;
        margin-bottom: 16px;
    }

    ion-label {
        line-height: 1;
    }

    ion-icon {
        margin-right: 16px;
        color: var(--ion-color-medium);
    }
}

ion-item {
    --min-height: unset;
    align-items: center;

    --padding-start: 24px;
    --padding-end: 24px;
    --inner-padding-start: 0;
    --inner-padding-end: 0;

    --detail-icon-color: var(--ion-color-dark);
    --detail-icon-font-size: 16px;
    --detail-icon-opacity: 1;

    --inner-border-width: 0;
    --border-width: 0 0 1px 0;

    color: var(--ion-color-dark);
    font-weight: 600;
    font-size: 14px;

    &.item-interactive-disabled {
        --background: #fbfcfd;
    }

    &[lines="none"] {
        --border-width: 0;
    }

    &.boxx-bg-primary {
        --background: var(--ion-color-primary);
        ion-label {
            color: var(--ion-color-primary-contrast);
        }
        ion-checkbox {
            --background-checked: var(--ion-color-primary-contrast);
            --border-color: var(--ion-color-primary-contrast);
            --border-color-checked: var(--ion-color-primary-contrast);
            --checkmark-color: var(--ion-color-primary);
        }
    }

    &.boxx-item-info {
        --background: var(--boxx-app-background);
        font-size: 14px;
        font-weight: 500;
        ion-label {
            white-space: normal !important;
            margin-top: 8px;
            margin-bottom: 24px;
        }
    }

    ion-label,
    ion-label p {
        --color: var(--ion-color-dark);
        color: var(--ion-color-dark);
        margin-top: 16px;
        margin-bottom: 16px;
        line-height: 1.4;
    }
    ion-label[position="stacked"] {
        margin-top: 8px;
        margin-bottom: 0;
        font-size: 11px !important;
        font-weight: 500;
        color: var(--ion-color-medium) !important;
    }

    &.boxx-contact-avatar-item {
        ion-label {
            margin-block: 0;
            div,
            p {
                font-size: 16px;
                font-weight: 500;
                color: var(--ion-color-medium);
                margin-block: 8px;
            }
            div:first-child,
            p:first-child {
                font-size: 17px;
                color: var(--ion-color-dark);
                margin-top: 16px;
            }
            div:last-child,
            p:last-child {
                font-size: 14px;
                color: var(--ion-color-primary);
                margin-bottom: 16px;
            }
        }
    }

    &.boxx-contact-avatar-large-item {
        ion-label {
            margin-block: 0;
            div,
            p {
                margin-block: 8px;
                font-size: 16px;
                font-weight: 500;
                color: var(--ion-color-dark);
            }
            div:first-child,
            p:first-child {
                margin-top: 0;
                font-size: 17px;
                color: var(--ion-color-primary);
            }
            div:last-child,
            p:last-child {
                margin-bottom: 16px;
                font-size: 14px;
                color: var(--ion-color-primary);
            }
        }

        ion-avatar {
            margin-top: 0;
            margin-bottom: 16px;
            width: 96px;
            height: 96px;
            font-size: 40px !important;
        }
    }

    &.boxx-profile-avatar-item {
        --margin-bottom: 24px;
        ion-avatar {
            width: 55px;
            height: 55px;
            margin-top: 24px;
            margin-bottom: 0px;
        }

        ion-label {
            font-size: 18px !important;
            font-weight: 500;
            margin-bottom: 0;
        }
    }

    ion-icon {
        margin-top: 20px;
        margin-bottom: 20px;

        color: var(--ion-color-medium);

        &.margin-auto {
            margin: auto;
        }
        &.margin-right {
            margin-right: 16px;
        }
        &[slot="start"] {
            margin-right: 16px;
        }
    }

    *[slot="end"] {
        margin-left: 16px;
        margin-right: 0;
    }

    &.boxx-input-item ion-input {
        @include boxx-input;
    }

    ion-select {
        padding-block: 0;
        padding-right: 6px;
        margin-bottom: 20px;
    }

    ion-textarea {
        textarea {
            min-height: 44px;
        }
    }

    ion-badge[slot="end"] {
        margin-right: 32px;

        &.in-progress {
            border-radius: 12px;
            padding: 6px 12px;
            font-size: 12px;
            font-weight: 500;
            color: white;
            background: #f09000;
            --background: #f09000;
        }
    }

    .input-with-right-icon {
        display: flex;
        align-self: baseline;
        margin-bottom: 20px;

        ion-icon {
            margin: 0;
            margin-left: 16px;
        }
    }

    &.item-interactive-disabled {
        ion-label {
            opacity: 1 !important;
        }
    }
}

ion-icon {
    width: 26px;
    height: 26px;

    &[size="small"] {
        width: 16px;
        height: 16px;
    }
}

ion-avatar {
    width: 52px;
    height: 52px;
    padding: 3px;
    border: 2px solid var(--ion-color-primary);

    div {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        border-radius: 50%;
        background: var(--ion-color-primary);
        color: var(--ion-color-primary-contrast);
        font-size: 16px;
    }

    &.not_specified {
        border-color: var(--ion-color-medium);
    }
    &.prospect {
        border-color: var(--ion-color-secondary);
    }
    &.client {
        border-color: var(--ion-color-tertiary);
    }
    &.small {
        width: 40px;
        height: 40px;
        font-size: 16px;
    }
    &.large {
        width: 80px;
        height: 80px;
        font-size: 32px;
    }
    &.larger {
        width: 96px;
        height: 96px;
        font-size: 40px;
    }
}

ion-button.boxx-btn {
    margin: 0;
    min-height: 64px;
    font-size: 15px;
    font-weight: 600;
    text-transform: none;
    --border-radius: 6px;
}

ion-toggle {
    width: 44px;
    height: 26px;
    &[slot="end"] {
        margin-top: 18px;
        margin-bottom: 20px;
        padding: 0;
    }
    --background: #575756 !important;
    --handle-background: var(--ion-color-medium);
    --handle-background-checked: var(--ion-color-secondary);
    --handle-height: 20px;
    --handle-width: 20px;
}

ion-checkbox {
    &[slot="end"] {
        margin-top: 18px;
        margin-bottom: 20px;
    }

    --size: 26px;
    [slot="start"] {
        margin-right: 16px;
    }
}

ion-radio {
    width: 26px;
    height: 26px;
    &[slot="end"] {
        margin-top: 18px;
        margin-bottom: 20px;
    }
    --color: var(--ion-color-primary);
    --color-checked: var(--ion-color-secondary);
}

ion-input {
    @include boxx-input-validated;
    --placeholder-opacity: 1 !important;
}

//---- CUSTOM COMPONENT STYLES ------

//---- CUSTOM CLASSES -----
.boxx-bg-transparent {
    background: transparent;
    --background: transparent;
}

.boxx-bg-primary {
    background: var(--ion-color-primary);
    --background: var(--ion-color-primary);
}

.boxx-bg-app {
    background: var(--boxx-app-background);
    --background: var(--boxx-app-background);
}

.boxx-bg-white {
    background: white;
    --background: white;
}
